.heading
{
    font-size: 25px;
    width: 100%;
    margin: 2px;
    box-shadow: 5px 5px 5px rgb(229, 255, 0);
    font-family: 'Pacifico', cursive;
}
body
{
    background:url("background.jpg");
     background-size: cover;
}
.note
{
    font-size: 15px;
    color:black;

}
.copy_right_footer
{
    position: fixed;
    color: rgb(0, 4, 255);
    background-color: rgb(2, 213, 250);
    bottom: 0px;
    width: 100%;
    line-height: 4;
    text-align: center;

}
canvas
{
border: 5px solid rgb(30, 255, 0);
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(217, 255, 0);
}